<div class="register-container">
  <div class="register-box animate__animated animate__fadeIn ">


      <form class="register_form" [formGroup]="frmRegister">

          <div class="register_img">
            <img  src="assets/images/logo.png" width="100px" alt="logo">
          </div>

          <label for="fullName">Full name</label>
          <input formControlName="name" autocomplete="off" type="text" placeholder="enter your email" name="text"  >

          <label for="email">Email</label>
          <input formControlName="email" autocomplete="off" type="email" placeholder="enter your email" name="email"  >

          <label  for="password">Password</label>
          <input formControlName="password" autocomplete="off" placeholder="enter your" type="password" name="password"  >

          <label for="password2">Repeat pasword</label>
          <input formControlName="password2"  autocomplete="off" placeholder="enter your" type="password" name="password2"  >

          <button *ngIf="!loading" (click)="register()" class="register_button click" type="button"> register </button>

          <div *ngIf="!loading" class="register_footer" >

            <a [routerLink]="['/auth/login']" class="click" >Login</a>
          </div>

          <app-loading *ngIf="loading" ></app-loading>

      </form>
  </div>
</div>
