.home_content{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  width: 100%;
  // min-height: 100vh;
  align-items: center;
}


.home_item{
  width: 45%;
  border-radius: 40px;
  padding: 20px;
  min-height: 60vh;
  box-shadow: 0 0 7px 7px gray;
}


.home_item_header{
  font-weight: bold;
  font-size: 1.2rem;
}

.home_item_content{
  overflow-y: scroll;
  // display: flex;
  width: 100%;
  padding: 0 10px;
  // border-radius: 40px;
  height: 300px;


}

.home_item_player{
  width: 100%;
  display: flex;
  // border-radius: 40px;
  justify-content:space-between;
  align-items: center;

  button{
    background-color: #43E343;
    outline: none;
    padding: 10px;
    border-radius: 40px;
    border: none;
    color:white;
    font-weight: bold;
   box-shadow: 0 0 3px 3px gray;

   &:hover{
     opacity: 0.8;
   box-shadow: 0 0 6px 6px gray;

   }

  }

}


.home_challenger{
  display: flex;
  width: 100%;

  .chllanger_data{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .challanger_actions{
    // flex: 1;
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button.accept{
      background-color: #43E343;
      padding: 10px;
      margin: 5px;
      border-radius: 40px;
      outline: none;
      border: none;
      color:white;
      font-weight: bold;
      box-shadow: 0 0 3px 3px gray;
      width: 100%;

     &:hover{
       opacity: 0.8;
     box-shadow: 0 0 6px 6px gray;

     }

    }

    button.reject{
      background-color: red;
      padding: 10px;
      margin: 5px;
      border-radius: 40px;
      border: none;
      color:white;
      font-weight: bold;
      box-shadow: 0 0 3px 3px gray;
      width: 100%;
      outline: none;

     &:hover{
       opacity: 0.8;
     box-shadow: 0 0 6px 6px gray;

     }

    }
  }
}





@media screen and (max-width:870px){
    .home_content{
      flex-direction: column;
      width: 100%;

    }

    .home_item{
      width: 90%;
      margin: 5px;
    }
}
